<ul>
  <li *ngFor="let pokemon of pokemons.results">
    
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        pokemon.id
      }}.png"
    />
    <button
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
      *ngIf="hasPokemon(pokemon)"
    >
      Add
    </button>
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      (click)="addPokemon(pokemon)"
      *ngIf="!hasPokemon(pokemon)"
    >
      Add
    </button>
  </li>
</ul>
